#Step 1 : Load libraries

#Description:

---

* @Author : Juan Camilo ArgÃ¼elles Ardila
* @Date : 2022/02/12
* @Description : this notebook is done in order to take into account the basics of python

#Basic Excersices
##Excersice 1:Productos + IVA

In [ ]:
product1 = int(input("Enter product 1 : "))
product2 = int(input("Enter product 2 : "))
product3 = int(input("Enter product 3 : "))
product4 = int(input("Enter product 4 : "))
product5 = int(input("Enter product 5 : "))

sum = (product1 + product2 + product3 + product4 + product5)
iva = sum * 0.19
total = sum + iva
print("Total value : ", sum, "\nIVA : ",iva,"\nTOTAL : ", total)

Enter product 1 : 1
Enter product 2 : 2
Enter product 3 : 3
Enter product 4 : 4
Enter product 5 : 5
Total value :  15
IVA :  2.85
TOTAL :  17.85

#Same excersice 1 but python version

In [ ]:
product1, product2, product3, product4, product5=input("Input the product : ").split(",")
sum = (product1+ product2 + product3 + product4 +product5)
print(sum)

Input the product : 1,2,3,4,5
12345

In [ ]:
n1 = int(input("Type number 1 : "))
n2 = int(input("Type  number 2 : "))
n3 = int(input("Type number 3 : "))

if n1 > n2 and n1 > n3:
  print(n1, "is bigger")
elif(n2 > n1 and n2 > n3):
  print(n2, " is bigger")
elif(n3 > n1 and n3 > n2):
  print(n3, " is bigger")

if n1 < n2 and n1 < n3:
  print(n1, "is minor")
elif(n2 < n1 and n2 < n3):
  print(n2, " is minor")
elif(n3 < n1 and n3 < n2):
  print(n3, " is minor")

average = (n1 + n2 + n3) / 3
print("Average : ",average)

Type number 1 : 1
Type  number 2 : 2
Type number 3 : 3
3  is bigger
1 is minor
Average :  2.0

#Version python

In [13]:
x, y, z = [int(x) for x in input("Enter two values: ").split()]
print("Min: ", min(x, y, z), "\nMax : ",max(x, y, z), "\nAverage : ",((x + y + z)/3))

Enter two values: 2 4 1
Min:  1
Max :  4
Average :  2.3333333333333335

In [ ]:
import random

lst = []
num = int(input("Type the length of the list : "))

for n in range(num):
  numbers = random.randint(0, 9)
  lst.append(numbers)

lst.sort()
print("Sorted : ",lst)
lst.sort(reverse=True)
print("Sorted : ",lst)

Type the length of the list : 3
Sorted :  [4, 5, 6]
Sorted :  [6, 5, 4]